<div>
    <h2 id="page-heading">
        <span jhiTranslate="monolithApp.phone.home.title">Phones</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-phone" [routerLink]="['/phone/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="monolithApp.phone.home.createLabel">
            Create a new Phone
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="phones?.length === 0">
        <span jhiTranslate="monolithApp.phone.home.notFound">No phones found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="phones && phones.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="monolithApp.phone.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="price"><span jhiTranslate="monolithApp.phone.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="os"><span jhiTranslate="monolithApp.phone.os">Os</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="promoting"><span jhiTranslate="monolithApp.phone.promoting">Promoting</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let phone of phones ;trackBy: trackId">
                    <td><a [routerLink]="['/phone', phone.id, 'view']">{{ phone.id }}</a></td>
                    <td>{{ phone.name }}</td>
                    <td>{{ phone.price }}</td>
                    <td jhiTranslate="{{ 'monolithApp.Os.' + phone.os }}">{{ phone.os }}</td>
                    <td>{{ phone.promoting }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/phone', phone.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/phone', phone.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(phone)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="phones && phones.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
